@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);

    /*шрифты*/
    font-size: medium;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: underline;
}
a {
    color: gray;
}
.avatar {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgb(0, 0, 0);
}

.info p {
    color: rgb(73, 73, 72);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;
    /*letter-spacing: ;*/
}

/*.social {
    background: white;
    padding: 15px;
    border: 5px solid red;
}*/

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

/*.box-model > div {
    float: left;
    background: rgb(85, 65, 65);
    height: 200px;
    border: 4px;
    width: 25%;
}*/
.card {
    padding: 15px 20px;
    background: rebeccapurple;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
    background: rgb(255, 255, 125);
}

.bg-green {
    background: rgb(118, 255, 147);
}

.bg-red {
    background: none;
}

.table {
    width: 100%;
}

.table td {
    margin-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: rgb(164, 167, 167);
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2{
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: black;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;  
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-left: 10px;
}

.btn {
    background: black;
    padding: 15px 20px;
    color: aliceblue;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

/*Position
.position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: rgb(228, 118, 118);
}*/